#################################################
#               Mac OSX                         #
#################################################
.DS_Store
.Thumbs

#################################################
#               Jekyll                          #
#################################################
_site/*
_theme_packages/*

#################################################
#               Ruby                            #
#################################################
.rbenv-version
.rvmrc

#################################################
#               No idea                         #
#################################################
!.gitkeep