#################################################
#               Mac OSX                         #
#################################################
.DS_Store
.Thumbs

#################################################
#               Jekyll                          #
#################################################
# _site/*      # commented as needed for mirage
_theme_packages/*

#################################################
#               Code                            #
#################################################
    # OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
    # Ruby
.rbenv-version
.rvmrc

#################################################
#               No idea                         #
#################################################
!.gitkeep

