#################################################
#               Mac OSX                         #
#################################################
.DS_Store
.Thumbs

#################################################
#               Jekyll                          #
#################################################
_site/
