* { margin: 0; padding: 0; }
header, footer, aside, section, article, nav { display: block; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* browser fixes */
select { min-width:1.5em; }

body { font-size: 62.5%; }
html { font-size: 100%; }

p, ol, ul { margin: 10px 0; }
img { border: none; }

ol { margin: 15px 0 15px 20px; }
ul { margin: 15px 0 15px 15px; }
pre { margin: 10px 0; }

h1 { font-size: 3.2em; line-height: 1em; }
header h1 { letter-spacing: -1px; }
h2 { font-size: 1.8em; letter-spacing: -1px; }
h3 { font-size: 1.6em; letter-spacing: -0.5px; }
h4 { font-size: 1.4em; letter-spacing: -0.5px; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }

a[name]:hover { text-decoration: none; }
a:hover { text-decoration: underline; }

article h1 { font-size: 18px; }
article h2 { font-size: 16px; }
article h3 { font-size: 15px; }
article h4 { font-size: 14px; }
article h5 { font-size: 13px; }
article h6 { font-size: 12px; }
article h1, article h2, article h3, article h4, article h5, article h6 { margin-top: 30px; }
article header h1 { margin: 12px 0 0; font-size: 22px; padding-top: 0; float: left; width: 500px;}

div#wrap { margin: 0 auto; width: 900px; text-align: left; margin-top: -1px; border-top: 1px solid transparent;}

aside#posterous_header { min-height: 39px; }
aside#posterous_header a.logo { background: url('/images/posterous-header.png') no-repeat left top; width: 75px; height: 35px; text-indent: -9999px; display: inline; margin-left: -5px; float: left; margin-left: 150px; }
aside#posterous_header nav { float: right; margin-top: 10px; }

header#page_header { width: 500px; margin-left: 155px; display: block; }
header#page_header hgroup a:hover { text-decoration: none; color: #ccc; }
header#page_header h1.header_image { margin-top: 15px; }

nav#navigation ul { margin-left: 0; }
nav#navigation ul li { list-style: none; display: inline-block; padding-right: 20px; margin: 0px 0px 10px 0px;}
nav#navigation ul li a { font-size: 17px; }

section#extra_links { margin-bottom: 15px; overflow: hidden; }
section#extra_links a.back_to_blog { margin: 15px 0; font-size: 1.4em; display: block; }
section#extra_links h1 { color: #111; font-size: 18px; margin-bottom: 2px; }

section#extra_links div { height: 11px; }
section#extra_links a#global_tags { display: block; font-size: 10px; }

section#extra_links ul li { list-style: none; display: inline; padding-right: 10px; }
section#extra_links a#search_all { display: block; font-size: 10px; }

form.search input.submit { font-size: 10px; padding: 2px; margin: 5px 10px 0 0; }

aside#sidebar section { margin-bottom: 30px; }

aside#sidebar section ul { margin: 0; }

section#profile h1 { margin: 0; }
section#profile img.profile_image { border: 1px solid #ccc; width: 75px; height: 75px; }
section#profile div.external { margin: 10px 0; }
section#profile > a { margin: 10px 0; display: block; }

section#contributors li a img { width: 20px; height: 20px; border: 1px solid #ccc; vertical-align: middle; }
section#contributors li a { vertical-align: middle; }
section#contributors li a:first-child { text-decoration: none; padding-right: 3px;}

section#statistics ul li { margin-bottom: 5px; }

section#fans img { width: 20px; height: 20px; vertical-align: middle; border: 1px solid #ccc; }

section#rss a { text-indent: -9999px; width: 14px; height: 14px; display: block; background: url('/images/feed-icon-14x14.png') no-repeat left top; }
aside#sidebar section#subscriptions { margin-bottom: 15px; }
section#tags li a span { font-size: 10px; }

div#articles { float: left; }
article { width: 655px; position: relative; margin-bottom: 35px; -webkit-font-smoothing: antialiased; }
article > header { width: 655px; padding-top: 5px; }
article header section { float: left; width: 130px; text-align: right; padding-top: 17px; margin-right: 25px; display: inline; min-height: 40px; }
article header aside.sms { float: left; padding-top: 10px; }

div.editbox { position: absolute; top: 0; visibility: hidden; height: 16px; left: 155px; }
div.editbox ul.mini_commands { margin-top: 0px; }
article:hover div.editbox { visibility: visible; }

article div.body { width: 500px; float: right; font-size: 1.2em; line-height: 1.8em; display: inline; }
article div.body div.inner { margin: 15px 0 0; }
article div.body div.inner > *:first-child { margin-top: 0; margin-bottom: 0; }
article div.body div.inner > p:first-child { margin-top: 15px; }
article div.body p, article div.body blockquote { margin: 15px 0 18px; }
article div.body div.posterousGalleryMainDiv { margin: 0 0 15px; }

article footer { float: left; width: 655px; margin-top: 10px; }
footer section.author { float: right; }
footer section.author h1 a img { opacity: 0.5; width: 15px; height: 15px; vertical-align: text-bottom; }
footer section.author:hover h1 a img { opacity: 1; }

footer section.comments h1 { font-size: 12px; font-weight: normal; margin: 0 0 0 155px; }
footer section.comments section h1 { margin-bottom: 15px; padding-top: 40px; width: 500px; margin-left: 155px; border-bottom: 1px solid #ddd; padding-bottom: 2px; font-size: 16px; line-height: 20px; font-weight: bold; }

.p_responses { width: 500px; margin-left: 155px; }
div.comment { float: left; width: 500px; margin-left: 25px; font-size: 12px; line-height: 20px; }
div.comment_value { float: left; margin-left: 25px; width: 500px; line-height: 18px; font-size: 12px; }
div.comment_avatar { float: none; margin-top: 10px; }
div.commentunit div.profile_icon { margin-top: 5px; }
div.commentname { font-size: 12px; margin-bottom: 5px; }
div.comment_loading_div { margin-left: 155px; }
div.comment_spacer { font-size: 14px; padding-top: 14px; }
div.comment_area { clear: left; float: left; }

footer section.tags { color: #aaa; margin-bottom: 20px; }
footer section.tags h1 { font-size: 11px; margin: 0; padding-right: 5px; display: inline; }
footer section.tags h1 span { font-weight: normal;}
footer section.tags ul { margin: 0; display: inline; }
footer section.tags ul li { padding-right: 10px; display: inline; list-style: none; }
footer section.tags ul li a { color: #666; }

footer section.locations { font-size: 10px; margin-top: 10px; margin-bottom: 20px; }
footer section.locations h2 { font-size: 11px; margin-top: 0px; }
footer section.locations ul { display: block; margin: 0; }
footer section.locations ul li { display: block; list-style: none; }
footer section.locations div.location_detail { margin-top: 20px; padding: 8px; background-color: #f9f9f9; border: 1px solid #eee; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow: auto; }
footer section.locations div.location_detail div.map { float: left; width: 300px; height: 150px; }
footer section.locations div.location_detail div.summary { float: right; width: 172px; }

footer section.share, footer section.tags, footer section.locations { width: 500px; margin-left: 155px; }

footer#pagination { margin-left: 155px; width: 500px; padding-bottom: 50px; overflow: hidden; clear: both; }
.pagination { padding: 3px; margin: 3px; }
.pagination a { padding: 2px 5px; margin: 2px; border: 1px solid #ccc; text-decoration: none; color: #ccc; }
.pagination span.disabled { padding: 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd; }

footer section.share { height: 25px; margin-bottom: 10px; }
div.ajaxResult { margin-bottom: 10px; color: #090; font-size: 10px; }
div.retweet { display: inline-block; vertical-align: middle; background: url('/images/icons/services/twitter11.png') no-repeat left center; padding-left: 15px; min-width: 1px; min-height: 11px; zoom: 1; *display: inline;  }
.twitter-share-button { float: left; }
div.facebook_like { float: left; display: inline; position: relative;  margin-left: 5px; zoom: 1; width: 90px; }

table { font-size: 11px; border: none; margin: 10px 0 0; border-spacing: 0px; line-height: 16px; text-align: left; }
td { border: none; border-bottom: 1px solid #eee; padding: 4px; margin: 0px; vertical-align: top; }
th { text-align: left; font-weight: bold; padding: 4px; border: none; border-bottom: 1px solid #ccc; vertical-align: bottom; }
hr { margin-top: 10px; margin-bottom: 10px; border: 1px solid #ddd; }
div.posterousListComments div.comment, div.posterousAddNewComment div.comment, div.posterousAddNewComment div.comment_value { margin-left: 25px; }
aside.private { position: relative; margin-top: 10px; }
aside.private:hover div.private_post_message { display: block; }
div.private_post_message { position: absolute; right: 0; top: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: rgba(0,0,0,0.23) 0px 3px 10px; -moz-box-shadow: rgba(0,0,0,0.23) 0px 3px 10px; box-shadow: rgba(0,0,0,0.23) 0px 3px 10px; background: #f2f2f2; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2)); background: -moz-linear-gradient(top, #fff, #f2f2f2); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#f2f2f2'); border: 1px solid #aaa; padding: 10px; width: 100px; display: none; text-align: left; }
div.private_post_message h1 { font-size: 11px; margin: 0 0 5px 0; padding: 0; float: none; width: auto; }
div.private_post_message p { font-size: 10px; margin: 0;}
div.posterous_retweet_widget { margin: 0px 0px 10px; }
div.posterous_tweet_button { float: left; margin-right: 15px; }