/* Override some defaults */

html, body {
  background-color: #f5f4ee;
}

html {
  overflow-y: scroll;
}

/*  Body Text Styles  */
body {
  padding-top: 0px; /* 40px to make the container go all the way to the bottom of the topbar */
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

/* Heading styles */
/*h1, h2, h3, h4 {
  margin-top: 7%;
}*/
h2 {
  line-height: 26px;
  padding: 6px 0px 0px 0px;
}
h3 {
  font-size: 20px;
  margin-top: 5%;
}
h4 {
  font-size: 18px;
  line-height: 25px;
  margin-top: 5%;
}
h1.head-title {
  font-size: 32px;
  /*margin-top: 0px;*/
}
h3.head-title {
  font-size: 32px;
  margin-top: 0px;
}
h2.archive {
  padding: 15px 0px 0px 0px;
}

/*  Hyperlink Styles */
a {
  color: #bc7134;
  text-decoration: none;
}
a:hover {
  color: #bc7134;
  text-decoration: underline;
}
a.post-title {
  color: #444444;
}
a.post-title:hover {
  color: #999999;
  text-decoration: none;
}
a.head-title {
  color: #999999;
  text-decoration: none;
}
a.head-title:hover {
  color: #cccccc;
  text-decoration: none;
}



img { /* merged changed from bootstrap v2.0.0 and v2.0.2 */
  max-width: 100%;
/*  vertical-align: middle;*/
  /*display: block;*/
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*  Paragraph Text Styles */
p {
  margin: 18px 0px 18px 0px;
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 18px;
  line-height: 24px;
}
/*p small {
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}*/
p.footnote {
  font-size: 13px;
  line-height: 18px;
  font-style: italic;
  color: #000000;
}
p.footer {
  font-size: 11px;
  color: #999999;
}


/*  Lists Styles  */
/*working on sorting out li styles to avoid tags and header objects to be changed
*/
li {
  font-size: 18px;
  line-height: 24px;
}
ul.posts {
  list-style: disc;
  font-size: 18px;
  margin: 0 0 9px 25px;
}
ul.archive {
  list-style: none;
/*  font-size: 18px; */
  margin: 0 0 0px 25px;
  padding: 1px 0px 1px 0px;
}
li.posts {
  line-height: 23px;
  font-size: 18px;
  margin-bottom: 8px;
  text-indent: -25%;
  padding-left: 25%;
}
li.tags {
  line-height: 18px;
}
li.next,
li.small,
li.prev {
  font-size: 13px;
}


.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

/* Adjust the features of the overall container that other divs sit in */
.container > footer p {
  text-align: center; /* center align it with the container */
}
/*.container {
  width: 940px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. AC changed it to 940
}*/

/* gallery  ======================================================== */

/* Control buttons on the bootstrap carousel */
.carousel-control {
  opacity: 0.25;
  filter: alpha(opacity=25);
}

/* Caption on the bootstrap carousel */
.carousel-caption {
  padding: 2px 15px 2px;
/*  background: #333333; */
  background: rgba(0, 0, 0, 0);
}
/*.carousel-caption h4, .carousel-caption p {
  color: #ffffff;
}
*/
.gallery > .thumbnails {
  margin-left: -9px;
}
.thumbnails > li {
  margin: 0 0 9px 9px;
}



/* The white background content wrapper */
.content {
  background-color: #f5f4ee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.15);
     -moz-box-shadow: 0 0px 0px rgba(0,0,0,.15);
          box-shadow: 0 0px 0px rgba(0,0,0,.15);
}

/* Page header tweaks */
/*.page-header {
  background-color: #f5f4ee;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}*/


.post-date {
  padding: 11px 6px 0px 0px;
  color: #999999;
  font-size: 13px;
  font-weight: normal;
}

/* nav  ======================================================== */

.head-nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.head-nav ul {
  display: block;
}
.head-nav li {
  display: inline-block;
  margin-top: 9px;
  padding-right: 16px;
  font-size: 17px;
  color: #999999;
}
/*.head-nav a {
  color: #999999;
  color: #bc7134;
}*/
.head-nav .active,
.head-nav a:active {
  color: #999999;
  /*color: #bc7134;*/
  /*color: #3b5998; FB blue*/
}
.head-nav > li > a:hover {
  text-decoration: none;
  color: #999999;
  /*color: #bc7134;*/
}


/* sidebar  ==================================================== */
.sidebar {
  color: #999999
}
div.sidebar {
  padding-left: 55px;
  padding-top: 10px;
}
/*img.sidebar {
  padding-top: 4px;
}*/
ul.sidebar {
  margin-left: 0;
  list-style: none;
  padding-top: 15px;
}
a.sidebar {
  padding: 0px;
  color: #bc7134;
}
a.sidebar:hover {
  text-decoration: none;
  color: #999999;
}
li.sidebar {
  padding: 0px;
  font-size: 13px;
  line-height: 15px;
  color: #999999
}

/* Search Bar */
.navbar-search {
  position: static;
  margin: 20px 0px;
}
.navbar-search .search-query {
  background-color: #F7F6F1;
  border: none;
}
input,
textarea,
select,
.uneditable-input {
  width: 100%;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:0px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height: 13px;
  font-size: 13px;
}
.tag_box.inline li {
	float:left;
  margin: 0px 15px 5px 0px;
}
.tag_box a {
  line-height: 16px;
	text-decoration:none;
}
.tag_box a span{
  color: #999999;
  font-size: smaller;
	/*vertical-align:super;
	font-size:0.8em;*/
}

/* code highlighting ============================================= */

/*Code highlight style (from Pygments) is 'autumn'*/

div.highlight {
  background-color: #f5f4ee;
}
.highlight > pre {
  padding-left: 25px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
}


/* addthis sharing toolbar ======================================= */
/*.addthis_toolbox .addthis_default_style {
  margin: 20px 0px;
}*/

/* random ======================================================== */
/*

.hero-unit {
  background-color: #f5f4ee;
}

.navbar-inner {
  background-color: #cbcbcb;
}
.btn-navbar {
  background-color: #cbcbcb;
}

.navbar .brand {
  font-size: 20px;
}

.topbar .btn {
  border: 0;
}

.btn-custom {
  background-color: hsl(103, 52%, 29%);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(103, 52%, 65%)), to(hsl(103, 52%, 29%)));
  background-image: -moz-linear-gradient(top, hsl(103, 52%, 65%), hsl(103, 52%, 29%));
  background-image: -ms-linear-gradient(top, hsl(103, 52%, 65%), hsl(103, 52%, 29%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(103, 52%, 65%)), color-stop(100%, hsl(103, 52%, 29%)));
  background-image: -webkit-linear-gradient(top, hsl(103, 52%, 65%), hsl(103, 52%, 29%));
  background-image: -o-linear-gradient(top, hsl(103, 52%, 65%), hsl(103, 52%, 29%));
  background-image: linear-gradient(top, hsl(103, 52%, 65%), hsl(103, 52%, 29%));
  border-color: hsl(103, 52%, 29%) hsl(103, 52%, 29%) hsl(103, 52%, 20%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
  -webkit-font-smoothing: antialiased;
}
	