<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="shortcut icon" href="/icons/favicon.png">
    <link rel="icon" href="/icons/favicon.ico">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">

<!--    <link href="{{ ASSET_PATH }}/css/2.0.0/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="icons/favicon.ico">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <div class="container">
      <div class="row">
        <!-- Title -->
        <div class="span7 offset2">
          <div class="page-header">
            <h1 class="head-title"><a class="head-title" href="{{ site.production_url }}">{{ site.title }}</a> <br /></h1>
            <h3 class="head-title"><small>{{ site.tagline }}</small></h3>
          </div>
        </div>
        <!-- Navigation -->
        <div class="span7 offset2">
          <ul class="head-nav">
            <li><a href="{{ site.production_url }}">home</a></li>
            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">journal</a></li>
            <li><a href="{{ BASE_PATH }}{{ site.JB.freebusy_path }}">free/busy</a></li>
            <li><a href="{{ BASE_PATH }}{{ site.JB.about_path }}">about</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- /container -->

    <div class="container">
      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p align="center"><small>&copy; {{ site.author.name }} 2010-2012 </small></p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
    
    <!-- Le javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ ASSET_PATH }}/js/jquery.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-carousel.js"></script>
    <script src="{{ ASSET_PATH }}/js/custom.js"></script>

    <!-- Placed at the end of the document so the pages load faster
    <script src="{{ ASSET_PATH }}/js/tests/vendor/jquery.js"></script>
    <script src="{{ ASSET_PATH }}/2.0.0/js/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-collapse.js"></script> -->

  </body>
</html>
